*{
    padding: 0;
    margin: 0;
}
.socials{
    position: fixed;
    margin-top: 10px;
}
.socials a{
    margin: -50px 50px; 
    color: black;
}
header span{
    color: black;
}
.material-symbols-outlined{
    color: black;
}
.main-content {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.main-content::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(./my\ image\ 1.JPG);
    background-size: cover;
    background-position: center;
    filter: blur(10px); 
    z-index: -1; 
}

.image {
    
    z-index: 1; 
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    padding-top: 300px;
    margin: 0px 200px;
    
}
.image img{
    border-radius: 50%;
    margin: -30px 0px;
    
    
}
.image p{
    text-align: justify;
    /* padding: 0px 80px; */
    font-size: larger;
    padding-left: 5px;
    
}
span{
    font-weight: bolder; 
    font-size: x-large;
}
footer{
    margin: -22px;
    text-align: center;
    background-color: #fdfefe;
    margin: 0;
}
